:root{
  --blanco: #FFFFFF;
  --oscuro: #212121;
  --primario:#FFc107;
  --secundario: #0097a7;
  --gris: #757575;   
  --grisClaro:#DFE9F3;
  --verde:#00a82d; 
}

/*Globales*/
html{
  /*font-size: 90%;*/ 
  box-sizing: border-box; /*hack [ara box model*/
  
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* General */
body {
/*background: -webkit-linear-gradient(left, rgb(110, 60, 228), rgb(86, 174, 189), rgb(126, 243, 71));*/
background-color: #dfdddd;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

/* Input Forms*/
.form, input[type="password"]{
  outline: none;
  padding: 5px;
 position: relative;

  display: block;
  width: 320px;
  border-radius: 3px;
  border: 1 px solid #eee;
  margin: 20px auto;
}

.ancho{
  width: 0;
}

.ojo{
  position: relative;
  left: 0%;
  top: 10px;
}

.tam_letra{
  font-size: 15px;
}

#btn_info{
  padding: 5px;
  color: rgb(14, 14, 14);
  background: #e9f5e7;
  width: 200px;
  margin: 15px auto;
  margin-top: 0;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
}
/* Header */
header {
  border-bottom: 2px solid #eee;
  padding: 20px 0;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
}
header a {
  text-decoration: none;
  color: #333;
}


/*Boton auzl de navegacion entre paginas
.btn_nav{
  background:  #63a5e4;  
  display: inline-block;
  color: rgb(255, 255, 255);
  font-size: 1.25em;
  margin: 20px;
  padding: 10px 0px;
  text-align: center;
  width: 200px;
  text-decoration: none;
  box-shadow: 0px 3px 0px #373c3c;
  border-radius: 8px;
}
*/



/*boton de navegacion de la pagina de datos maestro*/
.btn_nav_datos_doce{
  background:  #63a5e4;  
  display: inline-block;
  color: rgb(0, 0, 0);
  font-size: 1.25em;
  margin: 20px;
  padding: 10px 0px;
  text-align: center;
  width: 200px;
  text-decoration: none;
  box-shadow: 0px 3px 0px #373c3c;
  border-radius: 8px; 
  position: relative;
  top:-70px;

}
/*Animacion boton index log in*/
.button_index{
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: rgb(0, 0, 0);
  outline: 2px solid rgba(67, 119, 0, 0.877);
  padding: 30px 90px;
  position: relative;
 
  display: flex;
  justify-content: center;
  overflow: hidden;
  transition: color 1s;
}

.tabla_nombre_doce table{
  border-collapse: separate;
  border-spacing: 10px;
}
.tabla_nombre_doce th, td{
  padding: 10px;
  border: 1px solid black;
}

.button_index:hover{
  color: #000000;
}
.button_index::before{
  content: '';
  position: absolute;
  top: 0;
  left: -3px;/*limite en la izquierda*/
  
  width: 0;
  height: 100%;
  background-color: var(--verde);
  transform: skewX(0deg);
  z-index: -1;
  transition: width .5s;
}
.button_index:hover::before{
  width: 102%;/*limite hacia la derecha*/
}
/*Final Animacion boton*/


.form-signin{
  padding-top: 2rem;
  display: flex;
  justify-content: center;
}


/*Animacion boton ventana admin boton agregar usuario*/
.button_agre{
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: rgb(0, 0, 0);
  outline: 2px solid #fff;
  padding: 10px 15px;
  position: relative;
  top: 10;
  overflow: hidden;
  transition: color 1s;
}
.button_agre:hover{
  color: #000000;
}
.button_agre::before{
  content: '';
  position: absolute;
  top: 0;
  left: -3px;/*limite en la izquierda*/
  width: 0;
  height: 100%;
  background-color: #00a82d;
  transform: skewX(0deg);
  z-index: -1;
  transition: width .5s;
}
.button_agre:hover::before{
  width: 102%;/*limite hacia la derecha*/
}
/*Final Animacion boton "agregar usuario"*/

/*Animacion boton ventana aresto de botones*/


.button_res{
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: rgb(0, 0, 0);
  outline: 2px solid rgb(0, 0, 0);
  padding: 10px 15px;
  position: relative;
  top: 10;
  overflow: hidden;
  transition: color 1s;
}
.button_res:hover{
  color: #000000;
}
.button_res::before{
  content: '';
  position: absolute;
  top: 0;
  left: -3px;/*limite en la izquierda*/
  width: 0;
  height: 100%;
  background-color: #00a82d;
  transform: skewX(0deg);
  z-index: -1;
  transition: width .5s;
}
.button_res:hover::before{
  width: 102%;/*limite hacia la derecha*/
}



/*boton de mis grupos*/
.btn_grupos{
  background: #00a82d;
  color: rgb(27, 231, 214);
  display: inline-block;
  color: rgb(0, 0, 0);
  font-size: 1.25em;
  margin: 15px;
  padding: 5px 0px;
  text-align: center;
  width:150px;
  text-decoration: none;
  box-shadow: 0px 3px 0px #373c3c;
  border-radius: 8px;
  position: relative;
  top: -100px;
  left: -100px;
}
/* boton mis grupos*/
@media (min-width: 480px){/*celular*/
    .btn_grupos{
      top: -100;
      left: -300px;
    }
}
@media (min-width: 768px){/*tablet*/
  .btn_grupos{
    top: -70;
    left: -270px;
  }
}



 /*formulario para alumnos registro*/
 .form_alumno{  
  background-color: #dfdfdf;
   border-radius: 3px;
   color: rgb(29, 28, 28);
   padding: 15px;
   margin: 0 auto;
   width: 450px;
 }
  
 /*formato de los registros en la parte de escuela */
 .form_escuela{  
  background-color: #dfdfdf;
   border-radius: 3px;
   color: rgb(29, 28, 28);
   padding: 15px;
   margin: 0 auto;
   width: 420px;
 }
/*clase para el formulario de agregar nuevo docente*/
.nuevo_docente{
  background-color: #b1afaf;
  border-radius: 3px;
  color: rgb(29, 28, 28);
  padding: 15px;
  margin: 0 auto;
  width: 360px;
}
/*clase para el formulario Login*/
.login{
  background-color: #f0eded;
  border-radius: 3px;
  color: rgb(29, 28, 28);
  padding: 15px;
  margin: 0 auto;
  width: 360px;
}

@media (max-width: 590px){
  .login{
    width: 600px;
  }
}



.centrar{
  display: flex;
  align-items: center;
  justify-content: center;
}



.pos_materias{
  text-align: left;
}
.posicion thead{
  background-color: #246355;
  border-bottom: solid 5px #0F362D;
  color: white;
}

.posicion tr:nth-child(){
  background-color: rgb(65, 64, 64);
}

.posicion thead{
  background-color: #246355;
  border-bottom: solid 5px #0F362D;
  color: white;
}

.posicion tr:nth-child(even){
  background-color: #ddd;
}
.posicion tr:hover{
background-color: #369681;
color: white;
}

/*clase da la tabla de registro de maestros*/
.form_docentes{
  background-color: rgb(145, 142, 142);
  border-radius: 3px;
  color: rgb(0, 0, 0);
  padding: 20px;
  margin: 0 auto;
  width: 500px;

}
.sombra{
    -webkit-box-shadow: 0px 5px 15px 0px rgba(112,112,112,1);
    -moz-box-shadow: 0px 5px 15px 0px rgba(112,112,112,1);
    box-shadow: 0px 5px 15px 0px rgba(112,112,112,1);

    background-color: var(--blanco);
    padding: 2rem ;
    border-radius: 2rem;
}
.container-table{
  width: 90%;
  background: #fff;
  margin: 50px auto;
  display: grid;
  grid-template-columns:repeat(2, 1fr) ;
  grid-auto-rows: 100px;
}

/*Tabla con datos generales de los docentes*/
/*Tabla docente*/
.tabla{
  background-color: #ebe6e6 ;
  font-family: Arial;
}

.tabla_docente{
  background-color: rgb(255, 255, 255);

  border-collapse: collapse;
  width: 50%;
}



#contenedor_docentes{
  margin: 150px auto;
  width: 9000px;
}

/*tabla datos alumno*/
.tabla_alumno{
  background-color: rgb(236, 236, 236);
  text-align: center;
  border-collapse: collapse;
  width: 50%;
  position: relative;
  left: 25%;

}


.th_al, .td_al {
  padding: .5%;
}

.thead_al{
  background-color: #246355;
  border-bottom: solid 5px #0F362D;
  color: white;
}

.tabla_alumno tr:nth-child(even){
  background-color: #ddd;
}

.tabla_alumno tr:hover{
background-color: #369681;
color: white;
}
/*fin tabla datos  alumno*/

/*tabla nombres alumnos*/
.tabla_nombre_alumnos{
  background-color: rgb(236, 236, 236);
  text-align: center;
  border-collapse: collapse;
  width: 50%;
  position: relative;
  left: 25%;
  top: -19px;
  padding: 5%;
}


.th_alu, .td_alu{
  padding: 0%;
}

.tabla_nombre_alumnos tr:nth-child(even){
  background-color: #ddd;
}

.tabla_nombre_alumnos tr:hover td{
background-color: #3ab608;
color: white;
}

.btn_tabla{
  padding: 5px;
  color: rgb(0, 0, 0);
  background: #08f11b;
  width: 200px;
  margin: 15px auto;
  margin-top: 0;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
}
.th_al, .td_al{
  padding: .5%;
}

.thead_al{
  background-color: #246355;
  border-bottom: 5px #0F362D;
  color: white;
}
/*Estilos de marcado para que ignoren la primera fila de las tablas*/ 
                                                /*Estilos de ignorar por separado*/
.tabla_nombre_doce tr:nth-child(even){
  background-color: #ddd;
}

.tabla_nombre_doce tr:hover td{
background-color: #3ab608;
color: white;
}
/*fin  tabla nombres alumno*/


/*tablas docentes*/

/*tabla datos docentes*/
.tabla_doce{
  background-color: rgb(236, 236, 236);
  text-align: center;
  border-collapse: collapse;
  width: 50%;
  
 
}



.thead_do{
  background-color: #246355;
  border-bottom: 5px #0F362D;
  color: white;
}
/*fin tabla datos  docentes*/

.tabla_notificaciones{
  background-color: rgb(236, 236, 236);
  text-align: left;
  border-collapse: collapse;
  width: 50%;
  position: relative;
 
  padding: 5%;
}


/*tabla nombres docentes*/
.tabla_nombre_doce{
  background-color: rgb(236, 236, 236);
  text-align: left;
  border-collapse: collapse;
  width: 50%;
  position: relative;
  left: 25%;
  top: -19px;
  padding: 5%;
}

.th_alu, .td_alu{
  padding: 0%;
}
/*formatos de Botones de eliminacion en la tabla docente*/
.btn_tabla{
  padding: 3px;
  color: rgb(0, 0, 0);
  background: #63a5e4;
  width: 100px;
  margin: 5px auto;
  margin-top: 0;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
}

/*fin  tabla nombres docentes*/

/*tablas datos escuelas*/
.tabla_dat{
  background-color: rgb(236, 236, 236);
  
  border-collapse: collapse;
  width: 50%;
   position: relative;
  left: 25%;
  top: -19px;
}

.thead_dat{
  background-color: #246355;
  border-bottom: 5px #0F362D;
  color: white;
}
/*instruccion para ignorar de color a la primera fila*/
.tabla_dat tr:nth-child(even){
  background-color: #ddd;
}

.tabla_dat tr:hover td{
background-color: #3ab608;
color: white;
}
/*fin tabla datos  escuela*/

/*Codigo sing Up*/
.datosMateria{
  width: 30%;
  display: flex;
  position: relative;
  
 
}
img{
margin: auto;
position: relative;
padding: 5px;
}


/*imagenes de log in*/
.datosMateria{
  display: flex;
  position: relative;
}


/*Formato boton de formularios para enviar*/
.btn_form{
  padding: 5px;
  color: rgb(0, 0, 0);
  background: #63a5e4;
  width: 100px;
  margin: 15px auto;
  margin-top: 0;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
}



/*Tabla actividades internas */
.tabla_act{
  background-color: rgb(236, 236, 236);
  text-align: center;
  border-collapse: collapse;
  position: relative;
}

.thead_act{
  background-color: #246355;
  border-bottom: 5px #0F362D;
  color: white;
}
/*fin tabla actividades internas*/


/*animacion cargando*/
.loader-wrapper{
  width: 60px;
  height: 60px;
}
.loader{
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: 10px solid #162534;
  border-top-color: #4bc8eb;
  border-bottom-color: #f13a8f;
  border-radius: 50%;
  animation-duration: 5s linear infinite;
}
.loader-inner{
  border-top-color: #36f372;
  border-bottom-color: #fff;
  animation-duration: 2.5s;
}
@keyframes rotate{
  0%{
    transform: scale(1) rotate(360deg);
  }
  50%{
    transform:scale(.8) rotate(-360deg);
  }
}



/* Inicio codigo barra de navegacion */
.navbar{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 15px;
}

.navbar a{
    text-decoration: none;
    color: inherit;
}

.logo{
  margin-right: 50px;
}

.list{
  list-style: none;
  display: flex;
  gap: 25px;
}

#toggler, .navbar label{
  display: none;
}

@media screen and (max-width: 600px){
  .menu{
    width: 100%;
    max-height: 0;
    overflow: hidden;
  }

  .list{
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  .navbar label{
    display: inline-flex;
    align-items: center;
    cursor: pointer;
  }
  #toggler:checked~ .menu{
    max-height: 100%;
  }
}
/* Fin codigo barra de navegacion */



/*Inicio codigo slider*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.slider{
width: 100%;
height: 500px;
overflow: hidden;
}
.slider ul{
  display: flex;
  animation: cambio 20s infinite alternate linear;
  width: 400%;
}
.slider li{
  width: 100%;
  list-style: none;
}
.slider img{
  width: 100%;
  height: 100%;
}
@keyframes cambio{
  0%{margin-left: 0;}
  20%{margin-left: 0;}
  
  25%{margin-left: -100%;}
  45%{margin-left: -100%;}
  
  50%{margin-left: -200%;}
  70%{margin-left: -200%;}
  
  75%{margin-left: -300%;}
  100%{margin-left: -300%;}
}
@media only screen and (min-width:320px) and (max-width:768px){
.slider, .slider ul, .slider img{
  height: 100vh;
}
}
/*Fin codigo slider*/

.orden{
  position: relative;
  left: 0%;  /*Horizontal*/
  top: -700px;  /*Vertical*/
}

/*Clase para la foto de perfil imagen*/
.circulo{
  width: 100px;
  height: 100px;
  background-color: #00a82d;
  border-radius: 50%;
  position: relative;
  left:10%;  /*Horizontal*/
  top: -10px;  /*Vertical*/
}

.circulo > .imagen{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

/*Posicion del nombre de usuario*/

.posicion_nombre{
  display: flex;
  justify-content: left;
  padding-left: 5%;
  color: white;
  }
.estilo_nombre{
  font-size: 18px;
  color: #000000;
  text-decoration: none;
}

  /*posicion botones admin*/



/*Clases para la tabla de inventarios*/

.color_encabezado{
  background-color: #337ab7 !important;
  color: white;
}
/*para alinear los botones y cuadro de busqueda*/
.btn-group, .btn-group-vertical{
  position: absolute !important;
}


/*Estilo imagen 2*/
.card2{
  position: relative;
  width: 250px;
  height: 250px;
  background-color: var(--verde);
  color: #242329;
  text-align: center;
  border: 5px solid #fff;
  overflow: hidden;
}

.card2__data{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(-250px);
  transition: transform .5s;
}

.card2__img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform .5s;
}

.card2__title{
  font-size: 26px;
  text-transform: uppercase;
  color: #fff;
  padding: 5px;
  background-color: #242329;
  margin-top: 25px;
}

.card2__description{
  padding: 10px;
  margin-bottom: 15px;
}

.card2__btn{
  display: inline-block;
  text-decoration: none;
  padding: 5px 10px;
  color: #242329;
  background-color: #fff;
  transition: background-color .25s;
}

.card2__btn:hover{
  background-color: #242329;
  color: #fff;
}

.card2:hover .card2__data{
  transform: translateY(0px);
}

.card2:hover .card2__img{
  transform: translateX(250px);
  transition-delay: 0s;
}



/*Codigo responsivo de las imagenes del index*/
@media (min-width: 768px ){
  .contenedor{
    max-width: 50rem;
    position: relative;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
.contenedor{
  max-width: 100rem;
  position: relative;
  top: 15px;
  left: 4px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;

 /* margin: 0 auto 0 auto;*/
}


@media (max-width: 500px){
  .container{
    display: flex;
    overflow-x: scroll;
    padding: 24px;
    width: 300px;
    scroll-snap-type: x mandatory;
    scroll-padding: 24px;
    border-radius: 8px;
    gap: 12px;
  }
  
  .container .item{
    flex: 0 0 100%;
    padding: 24px;
    border-radius: 8px;
    scroll-snap-align: start;
  }
}
  
  .servicios{ 
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
  
  .item{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.parent{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-row-gap: 20px;
  grid-column-gap: 20px ;

}


#left{
  background: rgb(38, 38, 38) ;
}
#right{
  background: #030303f8;
  border: 3rem solid #0406071e;
}

#grid{
  height: 100vh;
  transition: 300ms;
  display: grid;
  grid-template-columns: 15px auto;

}

#grid:has(#left:hover){
  grid-template-columns: 15% auto;
}



.responsiva{
  max-width: 90%;
  height: auto;
}

@media (max-width: 558px){/*tablet*/
  .responsiva{
    width: 50%;
    height: auto;
  }
}




/*Clases para las imagenes del carrousel*/
.tam-carrousel{
  max-width: 800px;
  height: auto;
  object-fit: cover;
}

.color-slider{
  color: #059aef;
}



/*graficas moviendose*/
.habilidades{
  width: 600px;
  margin: auto;
  border: 1px solid #cccccc00;
  padding: 10px;
}
/*
.container{
  width: 90%;
  background-color: #fffdfd;
}
*/
.skills{
  text-align: right;
  padding: 10px;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.html{
  background-color: #7bff22;
  animation: fillhtml 2s forwards;
  border-radius: 15px;
}
.css{
  background-color: #ddf360;
  animation: fillcss 2s forwards;
  border-radius: 15px;
}
.javascript{
  background-color: #3f33e2;
  animation: filljavascript 2s forwards;
  border-radius: 10px;
}

@keyframes fillhtml{
  0%{width: 0;}
  100%{width: 99%;}
}

@keyframes fillcss{
  0%{width: 0;}
  100%{width: 70%;}
}

@keyframes filljavascript{
  0%{width: 0;}
  100%{width: 50%;}
}
/*Fin graficas moviendose 1*/


/*GrAFICAS Moviendose 2*/

.habilidades2{
  width: 600px;
  margin: auto;
  border: 1px solid #cccccc00;
  padding: 10px;
}
/*
.container{
  width: 90%;
  background-color: #fffdfd;
}
*/
.skills2{
  text-align: right;
  padding: 10px;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.html2{
  background-color: #7bff22;
  animation: fillhtml2 2s forwards;
  border-radius: 15px;
}
.css2{
  background-color: #ddf360;
  animation: fillcss2 2s forwards;
  border-radius: 15px;
}
.javascript2{
  background-color: #3f33e2;
  animation: filljavascript2 2s forwards;
  border-radius: 10px;
}

@keyframes fillhtml2{
  0%{width: 0;}
  100%{width: 75%;}
}

@keyframes fillcss2{
  0%{width: 0;}
  100%{width: 95%;}
}

@keyframes filljavascript2{
  0%{width: 0;}
  100%{width: 60%;}
}
/*fin Moviendose 2*/

/*GrAFICAS Moviendose 3*/

.habilidades3{
  width: 600px;
  margin: auto;
  border: 1px solid #cccccc00;
  padding: 10px;
}
/*
.container{
  width: 90%;
  background-color: #fffdfd;
}
*/
.skills3{
  text-align: right;
  padding: 10px;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.html3{
  background-color: #7bff22;
  animation: fillhtml3 2s forwards;
  border-radius: 15px;
}
.css3{
  background-color: #ddf360;
  animation: fillcss3 2s forwards;
  border-radius: 15px;
}
.javascript3{
  background-color: #3f33e2;
  animation: filljavascript3 2s forwards;
  border-radius: 10px;
}

@keyframes fillhtml3{
  0%{width: 0;}
  100%{width: 50%;}
}

@keyframes fillcss3{
  0%{width: 0;}
  100%{width: 75%;}
}

@keyframes filljavascript3{
  0%{width: 0;}
  100%{width: 100%;}
}
/*GrAFICAS Moviendose 3*/









/*dando estetica a boton de excel*/
.buttonDownload {
  display: inline-block;
  position: relative;
  padding: 10px 25px;
  background-color: #4CC713;
  color: white;
  font-family: sans-serif;
  text-decoration: none;
  font-size: 0.9em;
  text-align: center;
  text-indent: 15px;
  border: none;
 }
 
 .buttonDownload:hover {
  background-color: #45a21a;
  color: white;
 }
 
 .buttonDownload:before, .buttonDownload:after {
  content: ' ';
  display: block;
  position: absolute;
  left: 15px;
  top: 52%;
 }
 
 .buttonDownload:before {
  width: 10px;
  height: 2px;
  border-style: solid;
  border-width: 0 2px 2px;
 }
 
 .buttonDownload:after {
  width: 0;
  height: 0;
  margin-left: 3px;
  margin-top: -7px;
  border-style: solid;
  border-width: 4px 4px 0 4px;
  border-color: transparent;
  border-top-color: inherit;
  animation: downloadArrow 1s linear infinite;
  animation-play-state: paused;
 }
 
 .buttonDownload:hover:before {
  border-color: #cdefbd;
 }
 
 .buttonDownload:hover:after {
  border-top-color: #cdefbd;
  animation-play-state: running;
 }
 
 @keyframes downloadArrow {
  0% {
   margin-top: -7px;
   opacity: 1;
  }
 
  0.001% {
   margin-top: -15px;
   opacity: 0.4;
  }
 
  50% {
   opacity: 1;
  }
 
  100% {
   margin-top: 0;
   opacity: 0.4;
  }
 }









 /*estilo footer*/
 .site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
 

